<p>
Based on the Software Carpentry R materials, this one day workshop will focus only on the basics of programming in R. Taking a STATS class this fall? Need to write some code to finish your dissertation or senior project? We were there once too. Come start learning with us.
</p>

<p>
  Our instructors are trained by the Carpentries in evidence-based pedagogy and our 
  materials have been developed collaboratively over years by dozens of contributors.
  The <a href="https://informatics.institute.ufl.edu/">University of Florida Informatics Institute</a>
  has generously volunteered space and resources for this workshop in order to
  advance the skillset of the UF community. The organizers, instructors, and helpers 
  are volunteering their time to help UF, and you!
</p>
<p>

  The international <a href="https://software-carpentry.org/">Software Carpentry</a> organization aims to help researchers get their work done in less time and with less pain by teaching them basic research computing skills. This hands-on workshop will only cover the R materials and as such is not an official Software Carpentry workshop. Participants will be encouraged to help one another and to apply what they have learned to their own research problems.
</p>
